.root{
     -fx-background-color: #424245;
 }

.label{
   -fx-text-fill: #a9b7c6;
 }

.button{
-fx-background-color: #85859c;
-fx-background-radius: 100;
 }

 .radio-button{
 -fx-text-fill: #a9b7c6;
 }

 .text-area{
   -fx-background-color: #2b2b2b;
   -fx-background-radius: 0;
  }

 .list-view .list-cell:even{
   -fx-background-color: #5C5C64;
   }

 .list-view .list-cell:odd{
 -fx-background-color: #65656E;
 }

 .list-view .list-cell:selected {
     -fx-background-color: #0063B1;
 }

 .list-view .scrollable-element {
  scrollbar-color: red blue;
 }